.progress-bar-danger-r {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 54px;
  height: 56px;
  border-radius: 50%;
  font-size: 6.5pt;
  line-height: 8pt;
  font-weight: bold;
   
}

.col-md-3-progress{margin:0px 2px; float: left;}

/*.progress-bar-danger::before {
  content: "70%";
}*/